.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__info > img {
  height: 20vw;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
  flex: 1;
  margin-left: 20px;
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}